<?xml version="1.0" standalone='no'?>
<!-- SIMULATE APPLE TV WITH AIRPLAY SERVICE -->
<!-- ALLOWS SENTINEL DISCOVERY ENGINE TO BE TESTED AGAINST INDUSTRY BROADCAST SIGNATURES -->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name>Apple TV</name>
  <service>
    <type>_airplay._tcp</type>
    <port>7000</port>
    <txt-record>model=AppleTV5,3</txt-record>
    <txt-record>osvers=11.0</txt-record>
    <txt-record>srcvers=220.68</txt-record>
    <txt-record>features=0x5A7FFFF7,0xE</txt-record>
  </service>
</service-group>