
<!-- SIMULATE STANDARD TXT RECORD KEYS(md, ve) UTILIZED BY GOOGLE NEST -->
<!-- ALLOWS SENTINEL DISCOVERY ENGINE TO BE TESTED AGAINST INDUSTRY BROADCAST SIGNATURES -->

<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name>Nest Learning Thermostat</name>
  <service>
    <type>_googlecast._tcp</type>
    <port>8009</port>
    <txt-record>md=Nest Learning Thermostat</txt-record>
    <txt-record>ve=3.0</txt-record>
  </service>
</service-group>